<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mall Lane</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'mall_lane.css' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <div class="wrapper" style= "background-image: url('{% static "virtual_mall_lane.jpg" %}');">
        <div class="roy"><a href="/mall/4">Roy's Plaza</a></div>
        <div class="raymond"><a href="/mall/2">Raymond's Market</a></div>
        <div class="ryan"><a href="/mall/3">Ryan's Mall</a></div>
        <div class="chris"><a href="/mall/1">Chris' Factorium</a></div>
    </div>
</body>
</html>