<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purchase Complete</title>
</head>
<body>
    <div class="wrapper">
        <div class="item_list">
            <h2>Items:</h2>
            {% for item in products_added %}
                <p> {% for key,value in cart.items %}
                        {% if key == item.id|slugify %}
                            {{value}}
                        {% endif %}
                    {% endfor %}
                    {{item.name}}</p>
            {% endfor %}
        </div>
        <h2>Total Amount ${{ total_amount|floatformat:2 }}</h2>
        <a href="/">Back to Mall Lane</a>
        <a href="/mall/4">Back to Roy's Plaza</a>
    </div>
</body>
</html>