<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
</head>
<body>
    this will be the shopping cart page
    <a href="/purchase_complete">pay here</a>
    {% if cart %}
    <ul>
    {% for store in stores_visited %}
    <li>{{ store.name }}</li>
    {% for product in products_added %}
    {% if product.store.id == store.id %}
    <li> {{ product.name }} {% for key,value in cart.items %}
    {% if key == product.id|slugify %}{{ value }}{% endif %}{% endfor %} ${{ product.price|floatformat:2 }}
    {% endif %}
    {% endfor %}
    {% endfor %}
    <ul>
    {% endif %}
</body>
</html>