<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ this_store.name }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'show_store.css' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
</head>
<body>
    {% if messages %}
    <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    <div class="header">
        <a href="/mall/{{mall_id}}" class='return'> RETURN TO MALL</a>
        <a href="/shopping_cart" class='cart'> SHOPPING CART</a><br>
        <h3>{{ request.session.product_amount }} Items</h3>
    </div>
    <div class="wrapper" style="background-image: url('/static/Store_example_{{bg_source}}');">
        <div class="products">
        {% for product in products %}
        <form action="/mall/{{ mall_id }}/{{ store_id }}/add_to_cart/{{ product.id }}" method="POST">
        {% csrf_token %}
        <h3>{{ product.name }}</h3>
        <p>{{ product.desc }}</p>
        <h4>${{ product.price|floatformat:2 }}</h4>
        <label for="quantity"></label>
        <input type="number" name="quantity" value="1" min="1">
        <button type="submit">Add to Cart</button>
        </form>
        {% endfor %}
    </div>
</div>
</body>
</html>